extends base.pug

block styles
    style
        include ../static/css/base.css
        include ../static/css/about.css

block content
    div.container
        div.myAcademic
        


        div.mySports





    