html
    head 
        title Abhishek's Portfolio
        block styles
    body
        div.main
            nav.navbar 
                ul 
                    li #[a(href='/') Home]
                    li #[a(href='/about') About ]
                    li #[a(href='/resume') Resume ]
            block content
